@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f14;
}
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.reveal.revealed {
  opacity: 1;
  transform: translateY(0);
}